@{
    ViewData["Title"] = "Ventas";
}

@model List<Domain.Entities.Venta>

<a asp-action="Create">Crear Nuevo</a>

<h1>
    Mostrar:
</h1>

<table>
    <tr>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Fecha</th>
        <th></th>
    </tr>
    @foreach (var a in Model)
    {
        <tr>
            <td>@a.Cliente.Nombre</td>
            <td>@a.Producto.Descripcion</td>
            <td>@a.Fecha.ToShortDateString()</td>
            <td>
                <a asp-action="Details" asp-route-id="@a.Id">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@a.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@a.Id">Eliminar</a>
            </td>
        </tr>
    }
</table>
